* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container>* {
    width: 100%;
    padding: 70px 100px 100px 70px;
}

.menu-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: red;
}

.menu-list * {
    text-decoration: none;
    list-style-type: none;
}